/* 
    Document   : default
    Created on : 9.4.2012, 17:18:58
    Author     : Masscre
    Description:
        Purpose of the stylesheet follows.
*/

/*
*   Reset Browser css style
*
*
*/
* {
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}


/*
 *  Custom css style 
 *
 *
 */
 
 
 /* main layout */

 body {
     font-family: Helvetica, Arial, Sans;
     font-size: 12px;
     color: #292929;
     height: 100%;
     background-color: #0ae;
     background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
     -webkit-background-size: 50px 50px;     
 }
 
 .main {
     width: 600px;
     margin: 0 auto;
     text-align: left;
 } 
 
 
 /*
    all pages
 
 */
 
 .menu {
     background: rgba(255,255,255,0.7);
     display: inline-block;
     padding-left: 5px;
     padding-right: 5px;
     padding-bottom: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     margin-bottom: 30px;
 }
 
 .menu li{
     display: inline-block;
 }
 .menu li:hover, .menu a.active {
     background: #fff;
     color: #0ae;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 .menu a{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     font-size: 13px;
     display: inline-block;
     padding: 7px;
     text-decoration: none;
 }
 
 .submenu a {
     text-decoration: none;
     color: #fff;
     padding: 5px;
     margin: 5px;
     border-radius: 2px;
     background: rgba(255,255,255,0.3);
 }
 
 .submenu a.active {
     background: #fff;
     color: #0ae;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }
 
 .submenu a:hover {
     background: #fff;
 }
 
 .submenu li{
     display: inline-block;
 }
 
 .btn_inbox {
     position: absolute; 
     top: 5px; 
     right: 10px;
 }
 .user_info {
     display: inline-block;
     margin-left: 10px;     
     color: #fff;
 }
 h1.table_title {
     font-size: 30px;
     line-height: 25px;
     font-family: Georgia;
     color: #fff;
     text-shadow: 1px 2px 3px #292929;
     margin-top: 30px;
     margin-bottom: 10px;
 }
 
 
 /* login page */
 .btn_register {
     position: absolute;
     right: 0px;
     top: 0px;
     padding: 10px;
     color: #292929;
     display: inline-block;
     background: rgba(255,255,255,0.7);
     border-bottom-left-radius: 5px;
     padding-left: 15px;
     text-decoration: none;
     
 }
 .btn_register:hover {
     color: #0ae;
     background: rgba(255,255,255,0.9);
 }
 
 h1.title {
     font-size: 50px;
     line-height: 45px;
     font-family: Georgia;
     color: #fff;
     text-shadow: 1px 2px 3px #292929;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 
 .form_login {
     background: rgba(255,255,255,0.8);
     display: inline-block;
     padding: 20px;
     border-radius: 5px;
     line-height: 25px;
 }
 
 
 /*
    inputs
 */
 
 textarea.message {
     border: 0px;
     background: rgba(255,255,255,0.8);
     height: 50px;
     width: 597px;
     padding-left: 2px;
     padding-right: 2px;
     border-radius: 2px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
  textarea.subject {
     border: 0px;
     background: rgba(255,255,255,0.8);
     height: 20px;
     width: 200px;
     padding-left: 2px;
     padding-right: 2px;
     border-radius: 2px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
 input {
     border: 0px;
     background: #fff;
     height: 20px;
     padding-left: 2px;
     padding-right: 2px;
     border-radius: 2px;
 }
 
 input[type=submit] {
     padding-left: 5px;
     padding-right: 5px;   
     cursor: pointer;
 }
 input[type=submit]:hover {
     background: #0ae;
     color: #fff;
 }
 
 /*
 
    Tables 
 */
 table {
     width: 100%;
     background: rgba(255,255,255,0.8);
     padding: 10px;
     border-radius: 5px;
 }
 
 table.login {
     width: 300px;
 }
 
 tr.hidden {display:none;}
 
 tr.title td{
     font-weight: bold;
     padding-bottom: 5px;
 }
 
 /*
    aligns
 */
 .align_left {
     text-align: left;
 }
 .align_right {
     text-align: right;
 }
 .align_center {
     text-align: center;
 }

 
 /*
   links
 */
 
 a {
     color: #000000;
     text-decoration: underline;
 }
 
 a:hover {
     color: #0ae;
 }
 
 
 /*
  colors
 
 */
 
 .bg_blue {
    background: #0ae;
 }
 
 a.blue, .blue {
     color: #0ae;
 }
 